<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Predictor</title>
</head>
<body>
    <h1>Model Deployment</h1>
    <p>Linking to the HTML page</p>
    <p>Enter your Name:</p>
    <form action="/sub" method="POST"> 
    <!--<form action="/predict" method="POST">  -->
      <input type="text" name="username" placeholder="user name">
      <input type="float" name="fixed acidity" placeholder="fixed acidity">
      <input type="float" name="volatile acidity" placeholder="volatile acidity">
      <input type="float" name="citric acid" placeholder="citric acid">
      <input type="float" name="residual sugar" placeholder="residual sugar">
      <input type="float" name="chlorides" placeholder="chlorides">
      <input type="float" name="free sulfure dioxide" placeholder="free sulfure dioxide">
      <input type="float" name="total sulfur dioxide" placeholder="total sulfur dioxide">
      <input type="float" name="density" placeholder="density">
      <input type="float" name="pH" placeholder="pH">
      <input type="float" name="sulphates" placeholder="sulphates">
      <input type="float" name="alcohol" placeholder="alcohol">
      
      <input type = "submit">
    </form>
</body>
</html>
