<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" src="../starter/static/css/style.css" media=”screen”/>

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">Cheers Wine Enthusiast!</h1>
        <p class="lead">This is a project dedicated to all wine drinkers who want to examine their wine quality based on wine defining chemical characteristics.</p>
        <hr class="my-4">
        <p>We will determine quality of wine based on following characteristics: fixed acidity,volatile acidity, citric acid, residual sugar, chlorides, free sulfure dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, and quality determination.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">White Wine</a>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <form action="/sub" method="POST">
                <div class="form-group">
                    <label for="fixed acidity">Fixed Acidity</label>
                    <input type="float" name="fixed acidity" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="volatile acidity">Volatile Acidity</label>
                    <input type="float" name="volatile acidity" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="citric acid">Citric Acid</label>
                    <input type="float" name="citric acid" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="residual sugar">Residual Sugar</label>
                    <input type="float" name="residual sugar" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="chlorides">Chlorides</label>
                    <input type="float" name="chlorides" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="free sulfure dioxide">Free Sulfure Dioxide</label>
                    <input type="float" name="free sulfure dioxide" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="total sulfur dioxide">Total Sulfure Dioxide</label>
                    <input type="float" name="total sulfur dioxide" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="density">Density</label>
                    <input type="float" name="density" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="pH">pH</label>
                    <input type="float" name="pH" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="sulphates">Sulphates</label>
                    <input type="float" name="sulphates" placeholder="input number">
                </div>
                <div class="form-group">
                    <label for="alcohol">Alcohol</label>
                    <input type="float" name="alcohol" placeholder="input number">
                </div>
                
                <button type="submit" class="btn btn-primary">Predict Quality</button>
              </form>
            
        </div>
        <div class="col-sm-8">
            <img src="assets/wine1.jpg" class="img-fluid">
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>