<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Predictor</title>
</head>
<body>
    <h1>Model Deployment</h1>
    <p>Linking to the HTML page</p>
    <p>Enter your Name:</p>
    <form action="/sub" method="POST">
      <input type="text" name="username" placeholder="user name">
      <input type = "submit">
    </form>
</body>
</html>
